hydralit_components
st_click_detector
setuptools
bcrypt
PyYAML
streamlit
requests
pynput
PyJWT
psutil
Pillow
numpy
selenium
Levenshtein
streamlit_modal
extra_streamlit_components
bokeh==2.4.3
pyxhook
boto3